body{

background:#0f172a;
color:white;
font-family:Arial;
margin:0;

}

header{

background:#020617;
padding:20px;
text-align:center;
position:relative;

}

.admin-link{

position:absolute;
right:20px;
top:20px;
color:#94a3b8;
text-decoration:none;

}

.container{

padding:40px;

}

.card{

background:#1e293b;
padding:30px;
border-radius:10px;
width:300px;

}

button{

padding:10px;
margin-top:10px;
border:none;
border-radius:6px;
cursor:pointer;

}

.buy{

background:#22c55e;
color:white;

}

.sell{

background:#ef4444;
color:white;

}

table{

border-collapse:collapse;

}

td,th{

padding:10px;
border:1px solid #334155;

}
